package ${c.packageName}.persistence;

import com.minyisoft.webapp.core.persistence.IBaseDao;
import ${c.classFullName};
import ${c.criteriaFullName};

public interface ${c.alias}Dao extends BaseDao<${c.alias}Info,${c.alias}Criteria> {

}
