package ${c.packageName}.service.impl;

import org.springframework.stereotype.Service;
import com.minyisoft.webapp.core.service.impl.BaseServiceImpl;
import ${c.criteriaFullName};
import ${c.classFullName};
import ${c.packageName}.persistence.${c.alias}Dao;
import ${c.packageName}.service.${c.alias}Service;

@Service("${serviceName}Service")
public class ${c.alias}ServiceImpl extends BaseServiceImpl<${c.alias}Info,${c.alias}Criteria,${c.alias}Dao> implements ${c.alias}Service {
}
