package ${c.packageName}.service;

import com.minyisoft.webapp.core.service.IBaseService;
import ${c.classFullName};
import ${c.criteriaFullName};

public interface ${c.alias}Service extends BaseService<${c.alias}Info,${c.alias}Criteria> {

}
