package ${c.packageName}.service.impl;

import org.springframework.stereotype.Service;
import com.fusung.webapp.core.service.impl.BaseServiceImpl;
import ${c.criteriaFullName};
import ${c.classFullName};
import ${c.packageName}.persistence.I${c.alias}Dao;
import ${c.packageName}.service.I${c.alias};

@Service("${serviceName}Service")
public class ${c.alias}Impl extends BaseServiceImpl<${c.alias}Info,${c.alias}Criteria,I${c.alias}Dao> implements I${c.alias} {
}
